<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IHealthDroid"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.MedicalProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.PickAppointmentActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.EmergencyActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.HealthWikiActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.CreateProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.ProfileDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.AppointmentListActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.AppointmentDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.CreateProfileDoctorActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.ProfileDetailDoctorActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.ProfileDetailEditActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.AccountSignInActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AccountCreatingActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.MainDoctorActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.AppointmentDetailDoctorActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
        <activity
            android:name=".activity.AccountInformationActivity"
            android:exported="true"
            android:theme="@style/Theme.IHealthDroid">
        </activity>
    </application>

</manifest>